<html>
    <head>
        <title>Panel</title>
        
        <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    </head>
    
    <body ng-app="myApp" ng-controller="AppCtrl">
     
        <button ng-click="loadData()">Load Data</button>
       
        <input type="search" placeholder="Search All" ng-model="searchObj.$"/>
        
         <span uib-rating ng-model="rate" max="max" read-only="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" titles="['one','two','three']" aria-labelledby="default-rating"></span>
         
         {{rate}}
      
        <tk-thumbnail ng-repeat="thumbnail in thumbnailData | filter:searchObj" title="{{thumbnail.title}}" caption={{thumbnail.caption}} count="{{thumbnail.count}}">{{thumbnail.summary}}</tk-thumbnail>
        
      
    
        
        
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-sanitize.min.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.2.0.js"></script>
 
        <script>
            var app = angular.module('myApp',['ngAnimate', 'ngSanitize', 'ui.bootstrap'])
            
            app.controller('AppCtrl', function($scope, $http){
                
                $scope.rate = 7;
                  $scope.max = 10;
                  $scope.isReadonly = false;

                  $scope.hoveringOver = function(value) {
                    $scope.overStar = value;
                    $scope.percent = 100 * (value / $scope.max);
                  };
                
            
                
                
                $scope.loadData = function(){
                    //AJAX call
                    $http({
                        url: 'dummy.json',
                        method: 'GET'
                    }).success(function(data){
                        console.log(data)
                        $scope.thumbnailData = data;
                    })
                }
                
                $scope.thumbnailData = []
            })
            
            app.directive('tkThumbnail', function(){
                return {
//                    template: 'Panel Text'
                    templateUrl: 'partial/thumb.html',
                    scope: {
                       title: '@title',
                       caption: '@caption',
                       count: '@count'
                          
                    },
                    transclude: true
                    
                    /*link: function(scope, element, attrs){
                        
                        console.log(scope)
                        scope.title = attrs.title

                    }*/
                }
            })
            
            app.directive('tkBadge', function(){
                return {
//                    template: 'Panel Text'
                    templateUrl: 'partial/badge.html',
                    scope: {
                       caption: '@caption', 
                       count: '@count'
                  
                    }
                    
                }
            })
        
        </script>
    </body>
    
</html>